<% var title = 'Add a new link' %>
<% include ../head %>
    <form class='add-form1' method="POST" action='/add'>
        <% if (in_update_sequence) {%><input type="hidden" name="id" value="<%= id %>"/><% } %>
        <div class="metal padded">
            <h3>Add a new link</h3>
            <div class="row">
                <div class="half">
                    <h3>URL</h3>
                </div>
                <div class="half">
                    <h3>Title</h3>
                </div>
            </div>
            <div class="row">
                <div class="it half button-right">
                    <input name="url" class="erasable" type="text" placeholder="http://" value="<%= url %>" />
                    <button type="button" class="te"></button>
                </div>
                <div class="it half button-right">
                    <input name="title" class="erasable" type="text" placeholder="page title" value="<%= url_title %>" />
                    <button type="button" class="te"></button>
                </div>
            </div>
            <div class="row">
                <h3>Tags</h3>
            </div>
            <div class="row">
                <div class="it half button-right">
                    <input name="tags" class="erasable" type="text" placeholder="tag1 tag2" value="<%= tags %>" />
                </div>
            </div>
            <div class="row">
                <h3>Description</h3>
            </div>
            <div class="row">
                <textarea name="text" class="erasable" type="text" placeholder="Lorem ipsum"><%= description %></textarea>
            </div>
            <div class="row button-row-right">
                <button class="btn green" type="submit"><% if (in_update_sequence) {%>Update Link<% } else { %>Add Link<% } %></button>
            </div>
        </div>
      </form>

<% include ../foot %>