<% include ../head %>
<div class="link-list">

<% links.forEach(function(el, index) { %>
<div class='link'>
	<div class="header">
	<div class='identifier'><%= el.id %></div>
	<div class="date"><%= el.since %>
	<% if (el.private) { %>
	<div class="public"></div>
	<% } else { %>
	<div class="private"></div><%
	} %>

	<% if (me) { %>
		<a href="/edit/<%= el.id %>">Edit</a>
	<% } %>

	</div></div>

<h3 <%- el.text==null?'class="large"':'' %>><a href="<%= el.url %>"><img width="16" src="<%= el.f %>"/><%= el.title %></a></h3>
<% if (el.text) { %>
<div class="text"><%- el.text %></div>
<% } %>
<img class="i" src="/t/<%= el.id %>.jpg" width="200">
<% if (el.tags) {%>
<div class="tags">
	<% el.tags.forEach(function(tag, ix) {
	%><div class="tag">#<%= tag %></div><%
	});
	%>
</div>
<% } %>
</div>

<% }); %>


<% include ../foot %>